{% load static %}

<!DOCTYPE html>

<html>
    <head>
        <link rel="stylesheet" href="{% static 'css/base.css' %}">
        {% block head_block %}
        {% endblock %}
        <title>
            {% block title_block %}
                    Base test
            {% endblock %}
        </title>
    </head>
    <body>
        <ul>
            <li><a href="{% url 'jpconnect:home' %}">Home</a></li>
            <li><a href="#">link</a></li>
            <li><a href="#">link</a></li>
            <li><a href="#">link</a></li>
          </ul>     
        {% block body_block %}
        {% endblock %}
    </body>
</html>