{% extends 'base.html' %}
{% load static %}

{% block title_block %}
    {% if employee %}
        {{ employee.first_name }} {{ employee.last_name }}
    {% else %}
        Unknown Employee
    {% endif %}
{% endblock %}

{% block body_block %}
    {% if employee %}
        <h1>{{employee.first_name}} {{employee.last_name}}</h1><br>
        It is currently {{temp_c}}°C <img src={{img}}> in {{employee.location}}<br>
        Here are the top news stories in {{employee.first_name}}'s area:<br>
        {% for article in articles %}
            <a href="{{article.url}}"><strong>{{article.title}}</strong><br>
            {{article.desc}}<br><br></a>
            <img src="{{article.img}}" style="max-width:20%;"><br>
        {% endfor %}
    {% endif %}
{% endblock %}