{% extends 'base.html' %}
{% load static %}

{% block title_block %}
    {% if employee %}
        {{ employee.first_name }} {{ employee.last_name }}
    {% else %}
        Unknown Employee
    {% endif %}
{% endblock %}

{% block head_block %}
<link rel="stylesheet" href="{% static 'css/slideshow.css' %}">
{% endblock %}


{% block body_block %}
    {% if employee %}
        <center>
            <h1  style="text-decoration: underline;"> {{employee.first_name}} {{employee.last_name}}</h1><br>
            
            <h2>{{employee.location}}</h2>

            <span style="font-size: 100px;">{{temp_c}}<sup style="font-size: 25px;">°C</sup></span>
                
            <img src={{img}}  height="130" style="align-self: right; vertical-align: top;" alt="{{condition}}">
            <br>
        
        <hr width="80%">
        
        
        
        <div class="slideshow-container">
        {% for article in articles %}
            <div class="mySlides fade">
                <div class="numbertext">{{ forloop.counter }} / 5</div>
                <img src={{article.img}} style="width:100%">
                <div class="text"><bold>{{article.title}}</bold></div><br>
                <div>{{article.desc}}</div>
            </div>
        {% endfor %}
        <a class="prev" onclick="plusSlides(-1)">&#10094;</a>
        <a class="next" onclick="plusSlides(1)">&#10095;</a>
        </div><br>
        <div style="text-align:center">
            <span class="dot" onclick="currentSlide(1)"></span>
            <span class="dot" onclick="currentSlide(2)"></span>
            <span class="dot" onclick="currentSlide(3)"></span>
            <span class="dot" onclick="currentSlide(4)"></span>
            <span class="dot" onclick="currentSlide(5)"></span>
        </div>
        </center>
        <script>
            var slideIndex = 1;
            showSlides(slideIndex);

            function plusSlides(n) {
            showSlides(slideIndex += n);
            }

            function currentSlide(n) {
            showSlides(slideIndex = n);
            }

            function showSlides(n) {
            var i;
            var slides = document.getElementsByClassName("mySlides");
            var dots = document.getElementsByClassName("dot");
            if (n > slides.length) {slideIndex = 1}
            if (n < 1) {slideIndex = slides.length}
            for (i = 0; i < slides.length; i++) {
                slides[i].style.display = "none";
            }
            for (i = 0; i < dots.length; i++) {
                dots[i].className = dots[i].className.replace(" active", "");
            }
            slides[slideIndex-1].style.display = "block";
            dots[slideIndex-1].className += " active";
            }
        </script>
    {% endif %}
{% endblock %}