<!DOCTYPE html>
{% extends 'base.html' %}
{% load static %}

{% block title_block %}
    Home Page
{% endblock %}


{% block body_block %}

<html>
<head>
<title>A Demo of Basic Bulma Table</title>
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.8.0/css/bulma.min.css">
</head>
<body>
<div class="container">
<table class="table">
  <tr class="th">
      <th>Employee ID<th>
      <th>Name</th>
      <th>Location</th>
  </tr>
  <tr>

  {% for employee in employees %}

      <td>{{ employee.id }}</td>
      <td>{{employee.first_name}} {{employee.last_name}}</td>
      <td>{{employee.location}}</td>

  {% endfor %}

  </tr>



</table>
</div>
</body>

</html>
{% endblock %}
