{% extends 'base.html' %}
{% load static %}

{% block title_block %}
    Home Page
{% endblock %}


{% block body_block %}
    {% if employees %}
    <table>
    <tr>
      <th>ID</th>
      <th>Name</th>
      <th>Location</th>
    </tr>
    {% for employee in employees %}
    <tr>
      <td><a href="{% url 'jpconnect:show_name' employee.id %}"><p>{{employee.id}}</p></a></td>
      <td>{{ employee.first_name }} {{employee.last_name}}</td>
      <td>{{ employee.location}}</td>
    </tr>
    {% endfor %}
  </table>
  {% endif %}
{% endblock %}
